@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
/* font-family: "Work Sans", sans-serif; */
*{
    margin: 0;
    padding: 0;
}
#hero{
    background: linear-gradient(0deg, rgba(9.2, 8.93, 8.93, 1),rgba(16, 16, 16, 0) 100%),url("../assets/hero-bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 615px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.btn-container{
    text-align: center;
}

.btn{
    padding: 14px 21px 14px 21px;
    color: rgba(255, 255, 255, 1);
    font-family: Work Sans;
    font-style: SemiBold;
    font-size: 13px;
    font-weight: 600;
    line-height: 15px;
    letter-spacing: 0%;
    text-align: center;
    border-radius: 6px;
    border: none;
    background: rgba(82, 195, 3, 1);
    cursor: pointer;
}
#hero .hero-content{
    width: 685px;
}
#hero .hero-content .subtitle{
    opacity: 0.8;
    color: rgba(255, 255, 255, 1);
    font-family: Work Sans;
    font-style: SemiBold;
    font-size: 21px;
    font-weight: 500;
    line-height: 25px;
    letter-spacing: 0%;
    text-align: center;
    margin-bottom: 11px;
}
#hero .hero-content .title{
    color: rgba(255, 255, 255, 1);
    font-family: Work Sans;
    font-style: Bold;
    font-size: 43px;
    font-weight: 600;
    line-height: 54px;
    letter-spacing: 0%;
    text-align: center;
    margin-bottom: 16px;
}

#hero .hero-content .description{
    opacity: 0.7;
    color: rgba(255, 255, 255, 1);
    font-family: Work Sans;
    font-style: Medium;
    font-size: 12px;
    font-weight: 500;
    line-height: 19px;
    letter-spacing: 0%;
    text-align: center;
    margin-bottom: 21px;
}

#card-box{
    width: 884px;
    margin: 111px auto;

}

#card-box .title{
    color: rgba(16, 16, 16, 1);
    font-family: Work Sans;
    font-style: Bold;
    font-size: 32px;
    font-weight: 700;
    line-height: 43px;
    letter-spacing: 0%;
    text-align: center;
}
#card-box .subtitle{
    color: rgba(16, 16, 16, 1);
    font-family: Work Sans;
    font-style: Medium;
    font-size: 16px;
    font-weight: 500;
    line-height: 19px;
    letter-spacing: 0%;
    text-align: center;
    opacity: 0.6;
}

.card-container{
    margin-top: 32px;
    display: flex;
    justify-content: space-between;
    gap: 20px;
}
.card{
    max-width: 284px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
    font-family: Work Sans;
}
.card .image-box{
    width: 284px;
}
.card .image-box img{
    width: 100%;
}
.shop{
    border-radius: 5px;
    background: rgba(82, 195, 3, 0.15);
    padding: 9px 21px 9px 21px;
}
.card p{
    color: rgba(16, 16, 16, 1);
    opacity: 0.7;
}